<!doctype html>
<html lang="en">
<head>
    <title>SkyEng QA grading</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(86001731, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/86001731" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
<div id="app" class="container py-4 mt-4">
    <header class="pb-1 mb-4 border-bottom">
        <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">🚀 Калькулятор грейда QA SkyEng</span>
        </a>
    </header>
    <div class="p-2 mb-4 bg-light rounded-3">
        <div class="container-fluid py-1 collapse-horizontal">
            <h1 class="display-5 fw-bold pb-3">О системе грейдов</h1>
            <div>
                <div class="col-md-8 fs-6">
                    Гредирование - это система, позволяющая привязать зарплаты в компании к результатам сотрудников,
                    а так же построить индивидуальный план развития каждого QA через систему оценки.
                </div>
                <div class="col-md-8 fs-6">
                    Система грейдов для QA состоит из 2-х частей и включает:
                    <ul>
                        <li>Оценку performance по критериям. Формат: самооценка + оценка руководителя. Коллеги и эксперты могут быть привлечены по запросу</li>
                        <li>Оценку хардов. Формат: самооценка + экспертная оценка</li>
                    </ul>
                </div>
                <div class="col-md-8 fs-6 mt-4">
                    Оценка по критериям построена на основе информации, которую подсвечивали тимлиды и разработчики/QA.
                    Также при составлении критериев были учтены наши текущие слабые стороны - например, кросс-командные задачи.<br>
                    Можно сказать, что оценка достаточно субъективна в разрезе критериев, но объективна в рамках компании.
                </div>
                <div class="col-md-8 fs-6 mt-4">
                    Вопросы, помеченные в оценке <b>*</b> являются ключевыми. Если проявление по ключевому вопросу соответствует уровню middle, то
                    в случае набора по баллам уровня senior, будет присвоена оценка, не выше middle.
                </div>
                <div class="col-md-8 fs-6 mt-4">
                    С учетом того, что оценка достаточно субъективна, выбирайте варианты проявления, которые чаще всего были за последние 3 месяца.
                    Если сомневаетесь между двумя, выбирайте нижнее проявление.
                </div>
            </div>
            <a href="#questions" class="btn btn-primary btn-lg mt-5" type="button" @click="start" v-show="!started">Начать
                оценку по критериям</a>
        </div>
    </div>

    <div class="row">
        <div class="container" id="questions" v-show="started">
            <div v-for="question in questions" v-bind:id="question.id">
                <div class="question ml-sm-5 pl-sm-5 pb-2" v-show="show(question.number)">
                    <figure>
                        <blockquote class="blockquote pt-4">
                            <h5>{{ question.number }}/{{ questionsCount }}. {{ question.subject }}<span
                                    v-if="question.isKeyQuestion">*</span></h5>
                        </blockquote>
                        <figcaption class="blockquote-footer" v-show="question.description" v-html="question.description">
                        </figcaption>
                        <small v-if="question.examples"><div class="card card-body" v-html="question.examples"></div></small>
                    </figure>
                    <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3 options-container">
                        <div class="form-check py-1" v-for="choice in question.choices" v-bind:id="choice.value">
                            <input class="form-check-input" type="radio" :name="'question_' + question.id"
                                   :id="'question_' + question.id + '_' + choice.value"
                                   @change="answer(question.id, choice.value)">
                            <label class="form-check-label" :for="'question_' + question.id + '_' + choice.value">
                                {{ choice.choice }}
                            </label>
                            <div id="emailHelp" class="form-text" v-if="choice.description">{{
                                    choice.description
                                }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5" v-show="lastAnsweredNumber === questionsCount">
                <h4>Грейд, с учетом ключевых <b>*</b> пунктов: {{ realGrade.name }}</h4>
                <a href="https://skyeng.team/development" class="btn btn-success btn-lg">Посмотреть вакансии Skyeng</a>

                <div style="margin-top: 20px">
                    <span>Набрано баллов: {{ userScore }} / {{ maxScore }}</span>
                    <ul>
                        <li v-for="gradeStep in grades">{{ gradeStep.name }} >= {{ gradeStep.score }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
        SkyEng &copy; 2022
    </footer>
</div>


<script>
    const app = new Vue({
        el: '#app',
        data: {
            test: [
                {
                    id: 1,
                    subject: "Какой контроль нужен за сотрудником?",
                    description: "Самостоятельно и с соблюдением сроков обеспечивает весь жизненный цикл задачи (с момента, как бизнес принес сформулированную проблему до релиза). <br/> В Skyeng в жизненный цикл задачи входят этапы: тех. ревью (груминг), оценка трудозатрат, разработка, тестирование, выкладка, верификация и сбора метрик",
                    examples: "",
                    choices: [
                        {
                            choice: "Требуется постоянный (ежедневный) контроль и ревью работы сотрудника",
                            description: "",
                            value: 0
                        },
                        {
                            choice: "Требуется регулярная помощь и контроль",
                            description: "В среднем каждые 1-2 днян",
                            value: 1
                        },
                        {
                            choice: "Требуется периодический контроль и помощь. В среднем от 2х дней до 2х недель может быть автономен",
                            description: "В среднем от 2х дней до 2х недель может быть автономен",
                            value: 2
                        },
                        {
                            choice: "Самоходная единица",
                            description: "Контроль не требуется, консультации возможны. Самостоятельно берет задачу, планирует и делает в адекватные, ожидаемые сроки.",
                            value: 3
                        }
                    ],
                    position: 1,
                    isActive: true,
                    isKeyQuestion: true
                },
                {
                    id: 2,
                    subject: "Умение действовать в условиях неопределенности",
                    description: "При возникновении неопределенности в задаче (касательно требований, реализации, связей, тестирования, аналитики и т.д.) самостоятельно может эту неопределенность устранить",
                    examples: "",
                    choices: [
                        {
                            choice: "Запрашивает помощь руководителя и коллег в условиях неопределенности, задает вопросы",
                            description: "",
                            value: 1
                        },
                        {
                            choice: "Предлагает варианты для устранения проблемы, может вывести ситуацию из неопределенности после согласования с более опытными коллегами или с подключением коллег",
                            description: "",
                            value: 2
                        },
                        {
                            choice: "Самостоятельно выводит ситуацию из неопределенности в короткие сроки, устраняет блокеры ",
                            description: "Например, через кросс-командное взаимодействие, организацию встреч с заинтересованными лицами или хранителями знаний",
                            value: 3
                        },
                        {
                            choice: "Не знает / не делает / не могу ответить",
                            description: "",
                            value: 0
                        }
                    ],
                    position: 2,
                    isActive: true,
                    isKeyQuestion: true
                },
                {
                    id: 3,
                    subject: "Понимание проблемы",
                    description: "Сотрудник в любой задаче понимает причину её появления. Знает, на что решение задачи влияет в рамках бизнеса, и предлагает улучшения по её решению, опираясь на технический опыт",
                    examples: "",
                    choices: [
                        {
                            choice: "Требуется объяснение бизнес-велью задачи, которая выполняется",
                            description: "",
                            value: 1
                        },
                        {
                            choice: "Знает, какие бизнес-проблемы решают задачи, которые он выполняет и какую ценность задачи несут",
                            description: "",
                            value: 2
                        },
                        {
                            choice: "Проводит бизнес-ревью задачи",
                            description: "Челленджит предложения бизнеса, подсвечивает слабые места и предлагает улучшения решений или альтернативные пути достижения цели (если требуется)",
                            value: 3
                        },
                        {
                            choice: "Не знает / не делает / не могу ответить",
                            description: "",
                            value: 0
                        }
                    ],
                    position: 3,
                    isActive: true,
                    isKeyQuestion: true
                },
                {
                    id: 4,
                    subject: "Работа с дефектами",
                    description: "",
                    examples: "",
                    choices: [
                        {
                            choice: "Находит и описывает только очевидные дефекты",
                            description: "",
                            value: 1
                        },
                        {
                            choice: "Понимает, как тот или иной дефект влияет на бизнес. Находит корневую причину ошибок и корректно определяет критичность проблем",
                            description: "",
                            value: 2
                        },
                        {
                            choice: "Находит неточности и ошибки уже на этапе проектирования и постановки задач, находит неочевидные дефекты в процессе тестирования и обосновывает их приоритет",
                            description: "",
                            value: 3
                        },
                        {
                            choice: "Не знает / не делает / не могу ответить",
                            description: "",
                            value: 0
                        }
                    ],
                    position: 4,
                    isActive: true,
                    isKeyQuestion: false
                },
                {
                    id: 5,
                    subject: "Аргументация и конфронтация",
                    description: "",
                    examples: "",
                    choices: [
                        {
                            choice: "Выполняет задачи, не вступая в обсуждения их целей ",
                            description: "",
                            value: 1
                        },
                        {
                            choice: "Активно задает вопросы относительно ценности и деталей задачи и решений",
                            description: "Вступает в диалог с заказчиком/командой (при необходимости с поддержкой руководителя), готов озвучить спорные моменты и свои сомнения/предложения",
                            value: 2
                        },
                        {
                            choice: "Самостоятельно аргументированно доказывает заказчику/команде свою точку зрения, ее связь с бизнесом",
                            description: "Готов к конструктивному диалогу",
                            value: 3
                        },
                        {
                            choice: "Не знает / не делает / не могу ответить",
                            description: "",
                            value: 0
                        }
                    ],
                    position: 5,
                    isActive: true,
                    isKeyQuestion: false
                },
                {
                    id: 6,
                    subject: "Взаимодействие с support",
                    description: "",
                    examples: "",
                    choices: [
                        {
                            choice: "Отвечает на элементарные вопросы по работе приложения",
                            description: "Требуется проверка качества ответов более опытными коллегами.",
                            value: 1
                        },
                        {
                            choice: "Отвечает на вопросы повышенной сложности, проводит исследования для подтверждения багов",
                            description: "Понимает, когда, что и куда нужно эскалировать",
                            value: 2
                        },
                        {
                            choice: "Решает проблемы пользователей практически любой сложности",
                            description: "Контролирует решение проблемы разработкой и дает обратную связь пользователям/техподдержке по срокам, информирует о результатах",
                            value: 3
                        },
                        {
                            choice: "Не знает / не делает / не могу ответить",
                            description: "",
                            value: 0
                        }
                    ],
                    position: 6,
                    isActive: true,
                    isKeyQuestion: false
                },
                {
                    id: 7,
                    subject: "Межкомандная работа",
                    description: "Сотрудник самостоятельно взаимодействует с разными командами, вовлекая их в работу, для достижений целей проекта",
                    examples: "",
                    choices: [
                        {
                            choice: "Работает в рамках своей команды",
                            description: "",
                            value: 1
                        },
                        {
                            choice: "Принимает участие в тестировании межкомандных задач. Помогает другим коллегам QA",
                            description: "",
                            value: 2
                        },
                        {
                            choice: "Берет на себя организацию тестирования межкомандных задач, отвечает за итоговое e2e тестирование и соответствие реализации верхнеуровневым DODам задачи",
                            description: "",
                            value: 3
                        },
                        {
                            choice: "Не знает / не делает / не могу ответить",
                            description: "",
                            value: 0
                        }
                    ],
                    position: 7,
                    isActive: true,
                    isKeyQuestion: false
                },
                {
                    id: 8,
                    subject: "Ответственность за ошибки",
                    description: "Ответственность и инициативность сотрудника в случае возникновения проблем",
                    examples: "",
                    choices: [
                        {
                            choice: "В случае обнаружения критичных ошибок в работе сервиса обращается за помощью к коллегам/руководителю",
                            description: "",
                            value: 1
                        },
                        {
                            choice: "В случае критичных ошибок в работе сервиса помогает локализовать их, оперативно передает на разработку",
                            description: "",
                            value: 2
                        },
                        {
                            choice: "В случае критичных ошибок в работе сервиса активно участвует в обсуждении проблемы, предлагает решения",
                            description: "Проводит postmortem и продумывает способы оптимизации процессов обеспечения качества. Контролирует и доводит эти решения до исполнения",
                            value: 3
                        },
                        {
                            choice: "Не знает / не делает / не могу ответить",
                            description: "",
                            value: 0
                        }
                    ],
                    position: 8,
                    isActive: true,
                    isKeyQuestion: false
                },
                {
                    id: 9,
                    subject: "Кол-во пропущенных при тестировании багов",
                    description: "",
                    examples: "",
                    choices: [
                     	{
                            choice: "Не отвечает в полной мере за качество своей работы",
                            description: "Тестирование задач требует ревью со стороны более опытных коллег",
                            value: 0
                        },
                        {
                            choice: "Хорошо проводит тестирование и обнаруживает баги в критичном функционале для клиента",
                            description: "Баги связаны со случаями в нестандартных состояниях продукта или в функционале с размытой зоной ответственности (межпроектные задачи)",
                            value: 1
                        },
                        {
                            choice: "Тестирует весь функционал и находит все баги в известном функционале, проверяет различные состояния функционала, проверяет смежные сценарии (в том числе - в соседних проектах)",
                            description: "Баги могут возникать из-за невозможности воспроизвести в условиях тестирования (ограничения среды, данных, документации, требованиях). Контролирует быстрое исправление пропущенных ошибок",
                            value: 2
                        },
                        {
                            choice: "Практически не допускает баги, используя все необходимые виды тестирования для проверки функционала",
                            description: "Экспертиза позволяет обеспечить качество и продумать влияние изменений на все соседние проекты и жизнь пользователя в экосистеме. Прогнозирует не только функциональные риски, но и риски в бизнес-логике. Баги могут связаны только с ограничениями тестового окружения\инфраструктурными проблемами (отличиями) на боевой среде.",
                            value: 3
                        }
                    ],
                    position: 9,
                    isActive: true,
                    isKeyQuestion: false
                },
                {
                    id: 10,
                    subject: "Соблюдение SLA и работа с метриками",
                    description: "",
                    examples: "",
                    choices: [
                        {
                            choice: "Знает SLA и метрики продукта и гильдии QA",
                            description: "",
                            value: 1
                        },
                        {
                            choice: "Работает с алертами приложений команды",
                            description: "Следит за продуктовыми метриками и/или SLA (если они есть)",
                            value: 2
                        },
                        {
                            choice: "Предлагает способы оптимизации метрик",
                            description: "Может самостоятельно создавать новые полезные метрики и продуктовые SLA",
                            value: 3
                        },
                        {
                            choice: "Не знает / не делает / не могу ответить",
                            description: "",
                            value: 0
                        }
                    ],
                    position: 10,
                    isActive: true,
                    isKeyQuestion: false
                },
                {
                    id: 11,
                    subject: "Работа с тестовой документацией",
                    description: "",
                    examples: "",
                    choices: [
                        {
                            choice: "Пишет отчеты/чек-листы преимущественно только в Jira, по запросу пишет в TMS",
                            description: "",
                            value: 1
                        },
                        {
                            choice: "Описывает и поддерживает тестовую документацию на проекте в confluence/TMS на постоянной основе, следит за актуальностью",
                            description: "",
                            value: 2
                        },
                        {
                            choice: "Помогает выстроить правильную структуру тестового покрытия",
                            description: "Cледит за полнотой и актуальностью всех тестовых артефактов (тест-кейсов, документации, тест-ранов и тд), оперативно передает нужные артефакты на автоматизацию",
                            value: 3
                        },
                        {
                            choice: "Не знает / не делает / не могу ответить",
                            description: "",
                            value: 0
                        }
                    ],
                    position: 11,
                    isActive: true,
                    isKeyQuestion: false
                },
                {
                    id: 12,
                    subject: "Нефункциональное тестирование",
                    description: "",
                    examples: "",
                    choices: [
                        {
                            choice: "Применяет нефункциональное тестирование по запросу от менеджера/лида или если это явно указано в задаче",
                            description: "",
                            value: 2
                        },
                        {
                            choice: "Запрашивает нефункциональные требования к проектам по необходимости/при их отсутствии. Внедряет и системно использует в работе необходимые для обеспечения качества продукта нефункциональные виды тестирования",
                            description: "",
                            value: 3
                        },
                        {
                            choice: "Не знает / не делает / не могу ответить",
                            description: "",
                            value: 0
                        }
                    ],
                    position: 12,
                    isActive: true,
                    isKeyQuestion: false
                },
                {
                    id: 13,
                    subject: "Понимание логики работы приложения",
                    description: "",
                    examples: "",
                    choices: [
                        {
                            choice: "Понимает назначения приложения и его работу на уровне пользователя, в основном только из UI",
                            description: "Часто обращается к коллегам или разработчикам за помощью",
                            value: 1
                        },
                        {
                            choice: "Понимает основную логику работы приложения и на фронте, и на бэке, умеет взаимодействовать с БД",
                            description: "Самостоятельно находит нужную информацию по большинству вопросов. Требуется помощь разработчиков в сложных вопросах",
                            value: 2
                        },
                        {
                            choice: "Глубоко и детально разбирается в логике работы приложения на всех уровнях",
                            description: "",
                            value: 3
                        },
                        {
                            choice: "Не знает / не делает / не могу ответить",
                            description: "",
                            value: 0
                        }
                    ],
                    position: 13,
                    isActive: true,
                    isKeyQuestion: false
                },
                {
                    id: 14,
                    subject: "Работа с автотестами",
                    description: "",
                    examples: "",
                    choices: [
                        {
                            choice: "Знает о существующих в проекте UI e2e автотестах, запускает их",
                            description: "",
                            value: 1
                        },
                        {
                            choice: "Самостоятельно запускает автотесты своей или других команд, знает где их находить, анализирует результаты прогонов",
                            description: "Часто и активно взаимодействует с QAA, следит за актуальностью сьютов",
                            value: 2
                        },
                        {
                            choice: "Плотно работает с автотестами, редактирует и дописывает нужные (сам или при помощи QAA)",
                            description: "",
                            value: 3
                        },
                        {
                            choice: "Не знает / не делает / не могу ответить",
                            description: "",
                            value: 0
                        }
                    ],
                    position: 14,
                    isActive: true,
                    isKeyQuestion: false
                },
                {
                    id: 15,
                    subject: "Харды - знание и умение применять на практике инструменты для тестирования приложения",
                    description: "В SkyEng есть описание технического стека и ожидания того, что должны знать инженеры",
                    choices: [
                    	{
                            choice: "Знает только теорию",
                            description: "",
                            value: 0
                        },
                        {
                            choice: "Знает и понимает основы тестирования",
                            description: "Требуется поддержка/инструктаж в выборе инструмента, объяснение его функционала перед использованием",
                            value: 1
                        },
                        {
                            choice: "Уверенно пользуется всем необходимым инструментарием для тестирования задач по своему проекту",
                            description: "",
                            value: 2
                        },
                        {
                            choice: "Досконально разбирается во всех необходимых для тестирования в проекте инструментах, знает один из языков программирования достаточно для базовой работы с автоматизацией тестирования на своих проектах",
                            description: "Применяет все свои знания на практике при проведении проверок",
                            value: 3
                        }
                    ],
                    position: 15,
                    isActive: true,
                    isKeyQuestion: true
                }
            ],
            grades: [
             	{
                    name: 'Trainee',
                    score: 0,
                    level: 0
                },   
                {
                    name: 'Junior 1',
                    score: 5,
                    level: 1
                },
                {
                    name: 'Junior 2',
                    score: 11,
                    level: 1
                },
                {
                    name: 'Junior 3',
                    score: 16,
                    level: 1
                },
                {
                    name: 'Middle 1',
                    score: 21,
                    level: 2
                },
                {
                    name: 'Middle 2',
                    score: 27,
                    level: 2
                },
                {
                    name: 'Middle 3',
                    score: 32,
                    level: 2
                },
                {
                    name: 'Senior 1',
                    score: 37,
                    level: 3
                },
                {
                    name: 'Senior 2',
                    score: 43,
                    level: 3
                },
                {
                    name: 'Senior 3',
                    score: 48,
                    level: 3
                }
            ],
            result: [],
            lastAnsweredNumber: 0,
            started: false
        },
        computed: {
            questions: function () {
                let ordered = _.orderBy(_.filter(this.test, 'isActive'), ['position']);
                let result = [];
                let number = 1;
                ordered.forEach(item => {
                    item.number = number++;
                    result.push(item);
                });
                return result;
            },
            maxScore() {
                return _.filter(this.test, 'isActive').length * 3;
            },
            userScore() {
                let score = 0;
                this.result.forEach(item => {
                    score += item.value;
                });
                return score;
            },
            questionsCount() {
                return _.filter(this.test, 'isActive').length;
            },
            estimatedGrade: function () {
                return this.calculateGrade(this.grades, this.userScore, 3);
            },
            realGrade: function () {
                let maxLevel = 3;
                this.result.forEach(item => {
                    if (this.getById(item.id).isKeyQuestion && item.value < maxLevel) {
                        maxLevel = item.value;
                    }
                });
                let result = this.calculateGrade(this.grades, this.userScore, maxLevel);
                if (!result) {
                    result = _.orderBy(this.grades, ['score'], ['asc'])[0];
                }
                return result;
            }
        },
        methods: {
            answer: function (questionId, value) {
                const answer = _.find(this.result, {id: questionId});
                if (!answer) {
                    this.result.push({
                        id: questionId,
                        value: value
                    });
                } else {
                    answer.value = value;
                }
                const question = _.find(this.test, {id: questionId});
                if (question.number > this.lastAnsweredNumber) {
                    this.lastAnsweredNumber = question.number;
                }
            },
            calculateGrade: function (grades, userScore, levelLimit) {
                let found = false,
                    tmpGrades = [];
                grades.forEach(grade => {
                    if (grade.score <= userScore && grade.level <= levelLimit) {
                        tmpGrades.push(grade);
                        if (!found) {
                            found = true;
                        }
                    }
                })
                if (!found) {
                    return _.orderBy(grades, ['score'], ['asc'])[0];
                } else {
                    return _.orderBy(tmpGrades, ['score'], ['desc'])[0];
                }
            },
            getById: function (questionId) {
                return _.find(this.test, {id: questionId});
            },
            getFirstId: function () {
                return this.result[0] || null;
            },
            show: function (questionNumber) {
                return questionNumber === 1 || this.lastAnsweredNumber >= questionNumber - 1;
            },
            start: function () {
                this.started = true;
            }
        }
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>
</html>